.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.heroOverlay {
    position: relative;
    z-index: 2;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* затемнение */
    display: flex;
    align-items: center;
}
.heroContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: ;
    width: 50%;
    height:fit-content;
    align-self: ;
    z-index: 1000;
}
.heroContentWrapper {
position: relative;
  min-height: 100vh;
}
.heroContentTitle {
    font-size: clamp(2.25rem, 5vw, 1000px);
    font-weight: 700;
    color: white;
}
.heroImg {
    object-fit: contain;
}