.hero {
  position: relative;
  width: 100%;
  max-height: fit-content;
  height: 900px;
  overflow: hidden;
  z-index: 0;
}
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6); /* затемнение */
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.heroText {
  max-width: 500px;
  max-height: fit-content;
}

.heroContentTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .heroGradient {
    position: relative;
    z-index: 5;
  }
  .heroContentTitle {
    font-size: 1.8rem;
  }
  .heroText {
    background-color: white;
    position: relative;
    z-index: 3;
  }
  .heroGradient::before {
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(246, 245, 246, 0) 0%, #F6F5F6 100%);
    height: 230px;
    width: 100%;
    bottom: 250px;
    left: 0;
    z-index: 2;
  }
}
