.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.heroOverlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* затемнение */
  display: flex;
  align-items: center;
}

.heroContentWrapper {
  min-height: 100vh;
}
.heroText {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.heroContent {
  color: white;
  padding: 2rem;
}

.heroContentTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .heroContentTitle {
    font-size: 1.8rem;
  }

  .heroContent {
    padding: 1rem;
  }
}
