.header {
  position: fixed;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  z-index: 5;
  width: 100%;
}
.navExpanded {
  background: radial-gradient(50% 50% at 50% 50%, #3D3C3D 0%, #262626 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navLink {
    font-weight: 500;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 64px);
    letter-spacing: 0%;
    color: rgba(34, 34, 34, 1);
}
.signInBtn {
    padding: 10px 24px;
    border-radius: 8px;
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0%;
}