@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none!important;
}
/*
.container-fluid {
  padding-left: 100px!important;
  padding-right: 100px!important;
}
*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif!important;
  overflow-x: hidden;
  background-color: rgba(246, 245, 246, 1)!important;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 0rem;
}
.content {
  flex: 1;
}
h1, h2, h3, h4, h5, a, p, button, input, section, option {
  font-family: "Montserrat", sans-serif!important;
}
.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: clamp(1.75rem, 5vw, 3rem);
  line-height: 100%;
  letter-spacing: 0%;
}
.section-dark {
  background: radial-gradient(50% 50% at 50% 50%, #3D3C3D 0%, #262626 100%);
}
.text-red {
  color: rgba(198, 38, 40, 1);
}
.bgRed {
  background-color: rgba(198, 38, 40, 1);
}
.card {
  border: none!important;
}
.bgDark {
  background-color: rgba(61, 60, 61, 1);
}

input, textarea, select {
  border: 1px solid rgba(137, 135, 137, 1)!important;
  font-size: 1rem!important;
  font-weight: 500!important;
  color: rgba(137, 135, 137, 1);
}
input.form-control:focus, textarea:focus, select:focus {
  border: 1px solid black!important;
  box-shadow: 0 0 0 0.1rem rgba(198, 38, 40, 1)!important; /* мягкое свечение */
}

.fullscreen-collapse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white; /* или любой цвет фона */
  z-index: 1050; /* выше стандартного navbar */
  overflow-y: auto;
  padding: 1rem;
  transition: 0.3s all ease;
}

.page-link {
  background-color: transparent!important;
  border:none!important;
  border-radius: 0.5rem;
  color: rgba(34, 34, 34, 1)!important;
}
.page-link-arrow {
  background-color: rgba(231, 230, 231, 1)!important;
}
.active-pagination {
  background-color: rgba(198, 38, 40, 1)!important;
  color: #fff!important;
}
.collapseBtn {
  background-color: transparent!important;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*
.container-fluid {
  padding: 0 100px!important;
}
*/
.btn-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  color: white;
  border: none!important;
  background: rgba(198, 38, 40, 1);
  border-radius: 8px;
}

.noresize {
  resize: none;
}